body{
    background-image: url("../imagesK/background1.jpg");
      /* background-repeat: no-repeat;
      /* background-attachment: fixed; */
      background-size: cover; 
      margin:0;
      font-family: 'Otomanopee One', sans-serif;
      background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  
    text-align:center;
    font-family: 'Otomanopee One', sans-serif;
}

h1{
    font-size: 60px;
    margin-top:60px;
}

.form ul{
    list-style-type: none;
}

.form ul li{
    font-size: 20px;
    margin:15px;
}

#characters div:hover{
    border-radius:50%;
    box-shadow: 0 0 20px purple;
    
}

#yellow{
    background-image: url("../imagesK/yellow.png");
    background-size:cover;
    width:216px;
    height:162px;  
}
#blue{
    background-image: url("../imagesK/blue.png");
    background-size:cover;
    width:216px;
    height:162px;   
    
}
#red{
    background-image: url("../imagesK/red.png");
    background-size:cover;
    width:216px;
    height:162px;    
}
#grey{
    background-image: url("../imagesK/grey.png");  
    background-size:cover;
    width:216px;
    height:162px;  
}
#green{
    background-image: url("../imagesK/green.png"); 
    background-size:cover;
    width:216px;
    height:162px;   
}

#next-button{
    color:black;
    margin-top:100px;
    margin-bottom: 20px;
    float:right;
    font-size:40px;
    width:180px;
    border:2px solid black;
    border-radius:30px;
    clear:both;
    background-color:#70ceeb;
}

#next-button:hover{
    box-shadow: 0 0 20px blueviolet;
    
}

#choice-display{
    position:relative;
    left:110px;
    margin-top:20px;
    font-size:50px;
    z-index:-1;
}

#greeting{
    margin: 50px;
    text-transform:uppercase;
    font-size:90px;
    position:relative;
    left:-5%;
}

#homepage-bot{
    background-image: url("../imagesK/robot.png");
    background-size: cover;
    width:150px;
    height:195px;
    position:absolute;
    top:100px;
    left:30px;
    transform: rotate(-10deg);
}

#intro{
    width:70%;
    position:relative;
    left:13%;
    margin:30px;
    font-size:30px;
}

#intro span{
    font-size:130%;
}
#game-buttons{
    position:relative;
    left:25%;
}
#game-buttons div{
    border: 2px black solid;
    width:300px;
    height:300px;
    margin-bottom: 30px;;
    border-radius:20px;
}


#game-buttons div:nth-child(1){
    margin-right:10px;
}

#game-buttons span{
    z-index:2;
    position:relative;
    top:241px;
}

#counting{
    background-image:url("../imagesK/counting1.png");
    background-size:cover;
}

#counting:hover{
    box-shadow: 0 0 20px rgb(63, 171, 243);

}

#comparison{
    background-image:url("../imagesK/comparisonn.png");
    background-size:cover;
}

#comparison:hover{
    box-shadow: 0 0 20px rgb(228, 63, 243);

}

#congrats-display{
    width:70%;
    position:relative;
    top:50px;
    left:190px;
    font-size:50px;
}

#play-again{
    color:black;
    font-size:40px;
    width:400px;
    border:2px solid black;
    border-radius:30px;
    background-color:#70ceeb;
    position:relative;
    left:430px;
    top:200px;
    z-index:1000;
}

#play-again:hover{
    box-shadow: 0 0 20px blueviolet;

}