body{
    background: pink;
    text-align:center;
    font-family: 'Otomanopee One', sans-serif;
}

h1{
    margin-top:60px;
}

.form ul{
    list-style-type: none;
}

.form ul li{
    margin:15px;
}

#characters div:hover{
    border-radius:50%;
    box-shadow: 0 0 20px purple;
    
}

#yellow{
    background-image: url("../imagesK/yellow.png");
    background-size:cover;
    width:216px;
    height:162px;  
}
#blue{
    background-image: url("../imagesK/blue.png");
    background-size:cover;
    width:216px;
    height:162px;   
    
}
#red{
    background-image: url("../imagesK/red.png");
    background-size:cover;
    width:216px;
    height:162px;    
}
#grey{
    background-image: url("../imagesK/grey.png");  
    background-size:cover;
    width:216px;
    height:162px;  
}
#green{
    background-image: url("../imagesK/green.png"); 
    background-size:cover;
    width:216px;
    height:162px;   
}

#next-button{
    color:black;
    margin-top:30px;
    margin-bottom: 20px;
    float:right;
    font-size:40px;
    width:180px;
    border:2px solid black;
    border-radius:30px;
    clear:both;
    background-color:#70ceeb;
}

#next-button:hover{
    box-shadow: 0 0 20px blueviolet;
    
}

#choice-display{
    position:relative;
    left:110px;
    margin-top:20px;
    font-size:50px;
    z-index:-1;
}

#greeting{
    margin: 50px;
    text-transform:uppercase;
    font-size:90px;
    position:relative;
    left:-5%;
}

#homepage-bot{
    background-image: url("../imagesK/robot.png");
    background-size: cover;
    width:150px;
    height:195px;
    position:absolute;
    top:100px;
    left:30px;
    transform: rotate(-10deg);
}

#intro{
    margin:30px;
    font-size:30px;
}

#intro span{
    font-size:130%;
}

#game-buttons div{
    border: 2px black solid;
    width:30%;
    height:100px;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 30px;;
}
